.alertOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertBox {
  background-color: #985fcd;
  border: 2px solid #6b2ea5;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  min-height: 100px;
  width: 100%;
  position: relative;
  animation: slideIn 0.3s ease-out forwards;
}

.alertMessage {
  align-content: center;
  justify-content: center;
  min-height: 150px;
  margin-top: 20px;
  text-align: center !important;
  font-size: 20px !important;
  margin-bottom: 10px;
}

.alertClose {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 35px;
  color: #999;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
